*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    font-style: normal;
}
/* core style */
.container{
    max-width: 1140px;
    margin: auto;
}
.title{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    color: #150C01;
}

/* end core style  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}
.nav ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #150C01;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.nav ul li a:hover{
    color: #DC780B;
}
.nav .btn button{
    padding: 14px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #DC780B;
    border-radius: 5px;
    border: 1.5px solid #DC780B;
    transition: all 0.3s ease;
}
.nav .btn button:hover{
    color: #DC780B;
    opacity: 0.9;
    border: 1.5px solid #dc770b20;
    background: none;
}